.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
}
.img{
    width: 100%;
}
#startgame, #status{
    font-size: 25px;
}
.modal-dislogue{
    width: 90%;
}
.up{
    display: inline-block;
    width: 45%;
}
video{
    background:url('game_console.png') ;
    background-size: cover;
    background-position:center;
    padding: 25px;
}
canvas{
border: solid 2px turquoise;
border-radius: 15px;
}